body {
    width: 1366px;
    height: 770px;
    top: 0;
    background-image: url("images/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
}

.container {
    display: flex;
    justify-content: space-between;
    max-width: 1366px;
    align-items: center;
    margin: auto;
    padding: 18px 80px;
}
.header {
    color: white;
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
}
.logo {
    font-size: 22px;
    text-transform: uppercase;

}
a {
    text-decoration: none;
    color: white;
}
.navbar {
    display: inline-flex;
    align-items: center;
}
.icons_navbar {
    fill: white;
    padding: 0 12px 0 12px;
}
.reg_navbar {
    display: flex;
    align-items: center;
}
.reg_navbar::before {
    content: "";
    background: rgba(255, 255, 255, 0.9);
    width: 1px;
    height: 19px;
    margin-right: 27px;
    margin-left: 12px;
    opacity: 0.5;
}
.icons_navbar:hover {
    transition: 0.3s ease-in-out;
    fill: #3CB878;
}
.logo a:hover {
    transition: 0.3s ease-in-out;
    color: #3CB878;
}
.navbar a:hover{
    color: #3CB878;
}

.main_content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 63px);
}
.form {
    background: white;
    position: relative;
    width: 444px;
    padding: 31px 60px 38px 60px;
}
.head_form{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 15px 0;
}
.title{
    font-size: 20px;
    color: #434343;

}
.log {
    align-self: flex-end;
    color: #3CB878;
}
.form::before {
    content: "";
    background-color: #3CB878;
    position: absolute;
    left: 0;
    width: 18px;
    height: 18px;
}
.button_logo{
    display: flex;
    margin: 0 0 34px 0;
}
.facebook {
    color: white;
    font-size: 16px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 25px 12px 12px;
    width: 50%;
    border-radius: 3px;
    background-color: #305DB8;
    margin-right: 7px;

}
.google {
    color: white;
    font-size: 16px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 25px 12px 12px;
    width: 50%;
    border-radius: 3px;
    background-color: #DF4A32;
}
.button_text::before {
    content: "";
    position: absolute;
    width: 1px;
    height: 28px;
    background: #0A162F;
    opacity: 0.1;
    top: 9px;
    left: 48px;
}
.or {
    display: flex;
    color: #848484;
    align-items: center;
    text-align: center;

}
.or::before, .or::after{
    content: "";
    border-bottom: 1px solid #F2F2F2;
    flex: 1;
    margin: 5px;
}
.signup {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    align-items: center;
    justify-content: initial;
}
input {
    display: block;
    width: 100%;
    color: #434343;
    border: 1px solid #F2F2F2;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 15px;
}
input::placeholder {
    color: #BEBEBE;
}
input:focus {
    border: none;
    outline:none;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.20);
}
input[type="checkbox"] {
    border: none;
    -webkit-appearance: none;
    position: relative;
    display: inline;
    padding-left: 0;
    right: 8px;
}

.form_policy {
    margin-left: 6px;


}
.terms {
    color: #3CB878;
}

.policy::before {
    content: "";
    border: 1px solid #F2F2F2;
    width: 20px;
    height: 20px;
    position: absolute;
}

.submit {
    margin-top: 20px;
    background: rgba(60, 184, 120, 0.8);
    font-size: 16px;
    color: #FFFFFF;
}

.submit:hover {
    background: #01813F;
}
.terms:hover {
    color: #01813F;
    text-decoration: underline;
}